{% extends "base.html" %}
{% block home_active %}Active{% endblock %}
{% load static %}

{% block content %}
    <h1>Projects</h1>
    {% if projects %}
        <div class="row">
            {% for project in projects %}
            <div class="col-md-4">
                <img class="card-img-top" src="{% static project.image %}">
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.description }}</p>
                    <a href="{% url 'portfolio:detail' project.pk %}"
                       class="btn btn-primary">
                        Read More
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p> No Projects are available. </p>
    {% endif %}
{% endblock %}